$background: #92a8d1;
$navBackground: #034f84;
$mainBackground: #d9dcf0;
$pinkBackground: #f7cac9;
$contrastBackground: #f7786b;
$fontColor: #fefefe;
$contastFontColor: #222;
$twitGrey: #657786;
$twitName: #14171a;
$netcraftBckg: #fefefe;
$netcraftColor: #888;

