@import "../../../colors";

.users-list {
    display: inline-block;
    color: $fontColor;
    width: 20%;
    padding: 20px;
    margin-right: 40px;
    background: $navBackground;
    -webkit-box-shadow: 8px 9px 23px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 9px 23px -7px rgba(0,0,0,0.75);
    box-shadow: 8px 9px 23px -7px rgba(0,0,0,0.75);
    vertical-align: top;

    a {
        color: $fontColor;
        text-decoration: none;
        display: block;
        line-height: 40px;
        border-bottom: 1px solid transparent;

        &.active {
            color: $pinkBackground;
            border-bottom: 1px solid $pinkBackground;
        }
    }
}
